/******** Reset ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/******* forside baggrund *******/
.hero {
  width: 60vh;
  height: 100vh;
  background-image: url("billeder/forside.webp");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
}

/****** logo styling ******/
.logo-container {
  width: 100%;
  position: absolute;
  top: 29%;
  padding: 20px;
}

/********* styling af pil forside *******/
.pil-container {
  display: inline-block;
  position: absolute;
  width: 10%;
  margin-top: 70%;
  cursor: pointer;
  z-index: 10;
}

.pil-container {
  transition: filter 0.3s ease-in-out;
}

.pil-container:hover {
  transform: scale(1.1);
}

/*********** About us section *******/
.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  height: 100vh;
  background-image: url("billeder/aboutus.webp");
  background-size: cover;
  background-position: center;
}

.about-content {
  text-align: left;
}

.pil2-container {
  display: inline-block;
  width: 45%;
  margin-top: 20px;
  cursor: pointer;
}

.pil2-container img {
  transition: filter 0.3s ease-in-out;
}

.pil2-container:hover {
  transform: scale(1.1);
}

/****** media til større skærme *******/
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("billeder/desktop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    height: 105vh;
    width: 100%;
  }

  .logo-container {
    width: 70%;
    top: 22%;
  }

  .about-section {
    flex-direction: row;
    text-align: left;
    padding: 80px;
    background-image: url("billeder/aboutus-desktop.webp");
    background-size: cover;
  }

  .about-content {
    max-width: 50%;
  }

  h1,
  h1 strong {
    font-size: 70px;
  }

  p {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .kategori-pil {
    width: 20%;
  }
  .pil-container {
    margin-top: 40%;
    width: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-container {
    width: 50%;
    top: 20%;
    left: 26%;
  }
  .pil-container {
    margin-top: 28%;
    width: 70px;
  }
}
