/******** Reset ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/******* forside baggrund *******/
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("billeder/forside.webp");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

/****** logo styling ******/
.logo-container {
  width: 100%;
  position: absolute;
  top: 15%;
  padding: 30px;
}

/********* styling af pil forside *******/
.pil-container {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
}
.pil1 {
  width: 50px;
  height: auto;
  opacity: 0.8;
  cursor: pointer;
}

.pil1:hover {
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}

/*********** About us section *******/
.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 100vh;
  background-image: url("billeder/aboutus.webp");
  background-size: cover;
  background-position: center;
}

.about-content {
  text-align: left;
}

.pil2-container {
  display: inline-block;
  width: 45%;
  margin-top: 20px;
  cursor: pointer;
}

.pil2-container img {
  transition: filter 0.3s ease-in-out;
}

.pil2-container:hover {
  transform: scale(1.1);
}

/****** media til større skærme *******/
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("billeder/desktop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
  }

  .logo-container {
    content: url("billeder/lillelogo.webp");
    width: 65%;
    top: 24%;
    left: 30%;
  }

  .pil-container {
    width: 50px;
    top: 55%;
    left: 50%;
    opacity: 0.8;
    cursor: pointer;
  }

  .pil1:hover {
    transform: scale(1.1);
  }

  .about-section {
    flex-direction: row;
    text-align: left;
    padding: 80px;
    background-image: url("billeder/aboutus-desktop.webp");
    background-size: cover;
  }

  .about-content {
    max-width: 50%;
  }

  h1,
  h1 strong {
    font-size: 70px;
  }

  p {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .kategori-pil {
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .logo-container {
    width: 55%;
    top: 20%;
    left: 26%;
  }

  .pil-container {
    width: 80px;
    top: 60%;
    opacity: 0.8;
    cursor: pointer;
  }
  .pil1:hover {
    transform: scale(1.1);
  }
}
